<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">

    <title>Smart Fridge</title>
</head>

<body>

    <div id="home-page">

        <div id="top-bar">
            <div id="top-bar-wrapper">

                <div id="temp-up">
                    &lt;
                </div>
                
                <div id="temp">
                    40 °F
                </div>

                <div id="temp-down">
                    &gt;
                </div>

            </div>
        </div>

        <div id="side-bar">

            <div id="display-window">

                <div id="myFridge-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos officia repellat? Vitae quo a iure eaque. Rem deserunt debitis accusamus deleniti excepturi, pariatur distinctio aliquam sapiente, consectetur velit commodi.
                    Modi illo nulla, nemo optio debitis, veniam recusandae quam quasi eveniet odio reiciendis. Reiciendis iure unde et ullam maiores sunt quae, impedit quam aperiam odio dolorum nulla. Assumenda, eum adipisci.
                    Adipisci nisi, vel laborum tempora non saepe amet alias eligendi reprehenderit voluptatibus doloribus similique quod temporibus consectetur cum aut corrupti ab facilis esse? Fugiat ex vitae saepe minus, alias quos?
                    Animi voluptates, eos itaque corrupti iure repellendus nihil aliquam laboriosam ullam quisquam fugit, quas numquam accusantium architecto odit eligendi vero illum id ipsa dolorum tenetur doloribus! Soluta corporis atque voluptas.
                </div>

                <div id="addItem-content">
                    <form action="/item" method = "POST" >
                        <input type="text" name = 'name'>
                        <input type="text" name = 'category'>
                        <input type="text" name = 'expiration'>
                        <button>Submit</button>
                    </form>
                </div>

                <div id="updateFridge-content">
                    <form action="">
                        
                    </form>
                </div>

            </div>

            <div id="side-bar-wrapper">

                <div id="fridge">
                    My Fridge
                </div>

                <div id="addItem">
                    Add item
                </div>

                <div id="updateFridge">
                    Update
                </div>

            </div>
        </div>

    </div>

</body>

<script src="../static/scripts/script.js"></script>

</html>